*{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav{
    display:flex;
    justify-content: space-between;
    margin-top: 20px;
}
nav li{
    list-style: none;
    padding: 8px 10px;
    align-items: center;
}
nav ul {
    display: flex;
    margin-right: 130px;
    align-items: center;
}
nav h2 {
    margin-left: 126px;
}
.primary-text{
    color:#FD6E0A;
}
.primary-btn{
    background-color: #FD6E0A;
    border: none;
    padding: 8px 10px;
    font-weight: 600;
    border-radius: 5px;
}