*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
nav{
    display:flex;
    justify-content: space-between;
    margin-top: 20px;
}
nav li{
    list-style: none;
    padding: 8px 10px;
    align-items: center;
}
nav ul {
    display: flex;
    margin-right: 130px;
    align-items: center;
}
nav h2 {
    margin-left: 126px;
}
.primary-text{
    color:#FD6E0A;
}
.primary-btn{
    background-color: #FD6E0A;
    color: white;
    border: none;
    padding: 8px 10px;
    font-weight: 600;
    border-radius: 5px;
}
/* banner style  */
.btn{
    color:#FD6E0A;
    border: 1px solid #FD6E0A;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 5px;
    margin-left: 8px;
}
.banner{
    display: flex;
    margin-left: 126px;
    margin-right: 38px;
    align-items: center;
}
.banner-sub-title{
    font-size: 45px;
    font-style: normal;
    font-weight: 600;

}
.banner-title{
    font-size: 55px;
    font-style: normal;
    font-weight: 600;
}
.banner-descreption{
    color:#757575;
    font-size:15px;
    font-weight:400;
}
.person_img{
    width: 100%;
}