*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
nav{
    display:flex;
    justify-content: space-between;
    margin-top: 0px;
    padding-top: 20px;
}
nav li{
    list-style: none;
    padding: 8px 10px;
    align-items: center;
}
nav ul {
    display: flex;
    margin-right: 90px;
    align-items: center;
}
nav h2 {
    margin-left: 93px;
    color: #181818;
}
.primary-text{
    color:#FD6E0A;
}
.primary-btn{
    background-color: #FD6E0A;
    color: white;
    border: none;
    padding: 8px 10px;
    font-weight: 600;
    border-radius: 5px;
}
/* banner style  */
header{
    background: #FFF8F3;
    background-image: url(/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 48%;
}
/* .developer-image{
    background-image: url(/images/developer.png);
    background-repeat: no-repeat;
    font-size: 100px;
} */
.developer-image{
    display: flex;
}
.developer-img{
    width: 75%;
    margin-left: 10px;
}
.btn{
    color:#FD6E0A;
    border: 1px solid #FD6E0A;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 5px;
    margin-left: 8px;
}
.banner{
    display: flex;
    margin-left: 26px;
    margin-right: 38px;
    align-items: center;
}
.banner-sub-title{
    color: #474747;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;

}
.banner-title{
    font-size: 55px;
    color:  #181818;
    font-style: normal;
    font-weight: 600;
}
.descreption{
    color:#757575;
    font-size:12px;
    font-weight:400;
    margin-bottom: 10px;
}
.person_img{
    width: 93%;
}
/* About Section */
.about{
    width: 70%;
    border-radius: 10px;
    background: #FFF8F3;
    margin: auto;
    text-align: center;
    padding: 50px;
    margin-top: 50px;

}
.about-d h2 , ds{
    margin-bottom: 20px;
}
.info{
    display: flex;
    justify-content: space-around;
}
.re-sizer{
    margin: auto;
    width: 93%;
}
.info h5{
    color:#757575;
    font-size: 12px;
}
.info h4{
    color:#474747;
    font-size: 15px;
    font-weight: 600;
}
.info , .email , .date-of-birth , .from{
    margin: 4px 7px;
}
/* what i do section */
.what-i-do{
    width: 60%;
    margin: auto;
    text-align: center;
    margin-top: 50px;
}
.what-i-do h2{
    margin-bottom: 20px;
}
/* Expriences Section styles */
.expriences{
    display: flex;
    width: 89%;
    margin: auto;
}
.skill{
    width: 20%;
    border-radius: 5px;
    background: #FFF;
    padding: 30px 33px;
    margin: 35px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill img{
    margin-bottom: 20px;
}
.skill h4{
    margin-bottom: 10px;
}
.line_heigh{
    line-height: 25px;

}
/* summary of my resume */
.summary-title{
    text-align: center;
    margin-top: 50px;
}
.resume-summary{
    display: flex;
    width: 80%;
    margin:auto;
    padding: 20px 30px;
    margin-top: 50px;
}
.education h3{
    color:#474747;
    margin-bottom: 15px;
}
.education h4 , .education h5 {
    color: #474747;
    margin-bottom: 3px;
}
.education p{
    padding-top: 15px;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
 }
.subject{
    background: #fff;
    padding: 10px 15px 10px 3px;
    border-radius: 5px;
    margin-bottom: 1px;
    margin-right: 1px;
}
.btn-2{
    margin: auto;
    display: flex;
    align-items: center;
}
/* footer section */
footer{
    background: #FFF8F3;
    margin-top: 150px;
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer{
    display: flex;
    width: 80%;
    margin: auto;
}
footer form .input{
    display: block;
    padding: 10px 220px 10px 10px;
    margin-bottom: 8px;
}
footer form .message{
    display: block;
    padding: 10px 220px 80px 10px;
    margin-bottom: 10px;

}
.lets-connect{
    padding-right: 100px;
    width: 50%;
}
footer form h2 , .lets-connect h2{
    margin-bottom: 20px;
}